<div id="DIV_1">
    <div id="DIV_2">
    </div>
    <div id="DIV_3">
        <form action="/search" method="get" id="FORM_4">
            <div id="DIV_5">
                <input id="INPUT_6" name="q" placeholder="Search for a category" type="text" />
            </div><span id="SPAN_7"></span><span id="SPAN_8"></span>
            <input type="submit" value=" " id="INPUT_9" />
        </form>
        <div id="DIV_10">
        </div>
    </div> <a href="#" id="A_11"><span id="SPAN_12"></span></a>
</div>